.about
  position: relative
  margin-top: 54px
  background-color: #FFFFFF

.about_heading
  color: #81B5CB
  margin-bottom: 15px

  @media $mobile
    padding-left: 25px;

.heading.-h1
  font-size: 40px
  letter-spacing: 0

.about_std
  font-size: 16px
  line-height: 1.353
  word-spacing: 2px

.about_italic
  font-style: italic
  font-size: 16px
  color: #184043
  line-height: 1.36


