html
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background: #e9f2f7
  font-family: 'PT Sans', serif
  color: #050505

.content
  max-width: 1000px
  margin: auto
  position: relative
  height: max-content
  overflow: hidden

  @media $mobile
    max-width: 600px

.red-text
  color: $link_red

.grid
  overflow: hidden
  position: relative

.grid_unit
  float: left

  @media $mobile
    float: none

.grid_unit.-width-2
  position: relative
  margin: 0
  //width: 500px
  width: 50%
  padding: 0 25px 0 25px

  @media $mobile
    width: auto

.grid_unit.-width-1
  position: relative
  //width: 250px
  width: 25%
  padding: 0 25px 10px 25px

  @media $mobile
    width: auto

.grid:after
  content: ""
  display: table
  clear: both
