.footer
  margin-top: 68px
  position: relative

.footer_hr
  content: ""
  border-top: 2px solid #FFFFFF
  margin: 0 25px 3px 25px
  width: 95%

  @media $mobile
    width: auto

.footer_hr::after
  display: block
  content:""
  border: 1px solid $link_red
  margin: -2px 0 0 79%
  width: 21%

  @media $mobile
    content: none

.footer_paragraph
  font-size: 13px
  line-height: 1.17

  @media $mobile
    margin: 10px 0;

.footer_a
  position: relative
  top: -5px
  color: #1782a9

.footer_a:hover
  text-decoration: none
  color: $link_red

