.header
  background-color: inherit
  position: relative
  top: 2px
  height: max-content

  @media $mobile
    padding-top: 5px

.header_logo
  display: block
  content: url("../img/for-life1.png")
  float: left
  margin-left:-13px
  margin-top: 5px

  @media $mobile
    position: relative
    width: 50%
    float: none


.header_nav
  position: relative
  margin-left: 140px
  margin-top: 32px

  @media $mobile
    margin: auto

.header_menu
  position: relative

  @media $mobile
    //position: relative
    width: max-content
    padding-left: 25px

.menu
  font-style: italic
  font-size: 17px
  color: #50727E

.menu_item
  display: inline-block
  position: relative
  list-style-type: none
  padding: 0 20px  0 17px

  @media $mobile
    display: list-item;
    padding: 0 20px  5px 0px;
    font-size: 150%

.menu_item::after
  content: ""
  display: block
  background: #FFFFFF
  position: absolute
  right: -7px
  top: 5px
  width: 2px
  height: 15px
  transform: rotate(21deg)

  @media $mobile
    content: none

.menu_item:last-child::after
  content: none

.menu_item-link
  color: $link_color

.menu_item-link:active
  text-decoration: none
  color: $link_red

.menu_item-link:visited
  text-decoration: none
  color: $link_color

.menu_item-link:hover
  text-decoration: none
  color: $link_red
