.statistic
  margin-top: 65px
  position: relative

.statistic_heading
  color: #81B5CB
  margin-bottom: 18px

  @media $mobile
    padding-left: 25px

.heading.-h2
  font-size: 30px
  letter-spacing: 0

.statistic_std
  font-size: 16px
  line-height: 1.353
  word-spacing: 2px

.statistic_chart
  display: block
  position: relative
  margin 38px 0 51px
  width: 85%;
  content: url("../img/all.png")


  @media $mobile
    margin: 38px 5% 51px
    content: url("../img/graph2.png")
    width: 90%

.statistic_chart1
  content:none

  @media $mobile
    display: block
    content: url("../img/40.png")
    width: 60%
    position: relative
    margin: 38px 20% 51px

.statistic_under
  font-size: 14px
  line-height: 1.5
  color: #050505
  word-spacing: 2px
